/**
 *
 *  {{ filePath }}/{{ properCase shortName }}
 *
 */

import React from 'react'

// NPM Libraries
// import PropTypes from 'prop-types'
// import styled from '@emotion/styled'
// import { useTranslation } from 'react-i18next'

// GraphQL
// import { useQuery } from 'hooks'
// import { gql, useMutation } from '@apollo/client'

// Components

// Utils
{{#if wantStyles}}
import S from './styles'
{{/if}}

const {{ properCase shortName }} = () => {
  // const { t } = useTranslation('', { keyPrefix: 'components.{{pathForTranslate}}' })

  return <div>Hello World</div>
}

{{ properCase shortName }}.propTypes = {}

export default {{ properCase shortName }}

